
.icon-client_loyality:before { content: '\e800'; } /* '' */
.icon-product_rotation:before { content: '\e801'; } /* '' */
.icon-client:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-gear:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\e805'; } /* '' */
.icon-chart:before { content: '\e806'; } /* '' */
.icon-pie_histogram:before { content: '\e807'; } /* '' */
