body {
    margin: auto;
    font-family: 'Inter', sans-serif;
}

h1 {
    margin: 0;
}

button {
    border: 0;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.background__dark-blue {
    background-color: #0962E8;
}

.background__medium-blue {
    background-color: #CBECFF;
}

.background__light-blue {
    background-color: #EFF9FF;
}

.background__white {
    background-color: #FFF;
}

.text__dark-blue {
    color: #0962E8;
}

.text__white {
    color: #FFF;
}

.text__dark-grey {
    color: #29374E;
}

.text__black {
    color: #000;
}

.text__line-height-1-dot-3 {
    line-height: 1.3;
}

.text__line-height-1-dot-4 {
    line-height: 1.4;
}

.block__box-sizing__border-box {
    box-sizing: border-box;
}

.wrapper__content {
    max-width: 1024px;
    margin: auto;
}

.header {
    height: 626px;
    width: 100vw;
    padding-top: 29px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 150px;
}

.header .wrapper__content {
    background: url("/src/img/header_img_smartphone.png") no-repeat;
    background-size: contain;
    background-position: right 20px;
}

.header__block__toggle-lang {
    height: 20px;
    display: flex;
    justify-content: right;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 79px;
}

.header__block__toggle-lang__button {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__block__toggle-lang__button.enabled {
    background-color: #FFF;
    color: #0962E8;
}

.header__block__toggle-lang__button:first-of-type {
    margin-right: 15px;
}

.header__title__content__h1 {
    width: 230px;
    height: 78px;
    font-size: 64px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 700;
    text-align: center;
}

.header__title__content__h1__span {
    border-radius: 20px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: 5px;
}

.wrapper__flex-direction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__block__content {
    width: 50%;
    margin-bottom: 162px;
}

.header__title__content__description-text {
    margin-bottom: 38px;
    font-size: 22px;
}

.button__order-demo {
    width: 199px;
    height: 52px;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: relative;
    top: 35px
}

.nav ul li {
    height: 118px;
    width: 241px;
    border-radius: 20px;
}

.nav ul li {
    margin-right: 20px;
    box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 20px 30px 20px;
}

.nav ul li:last-of-type {
    margin-right: 0;
}

.nav__ul__li__title {
    line-height: 1.4;
    font-size: 16px;
}

.nav__ul__li__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main {
    margin: auto;
}

main section {
    margin-bottom: 114px;
}

.main_section__header {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
}

.main_section__header__key-products {
    margin-bottom: 44px;
}

.main_section__content-block {
    width: 502px;
    height: 328px;
    padding: 37px 30px 0 20px;
    overflow: hidden;
}

.main_section__content-block__h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 12px;
}

.main_section__content-block__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.main_section__content-block__with-image {
    box-shadow: 8px -8px 16px 0 rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: 218px;
    padding: 0;
}

.main_section__content-block img {
    width: 100%;
    position: relative;
}

.main_section__content-block img#img__strategies {
    top: -12px
}

.main_section__content-block img#img__risks {
    top: -44px
}

.main_section__content-block__key-products {
    border-radius: 30px;
    background: #E9F6FF;
}

.main_section__features__column {
    width: 502px;
}

.main_section__features__column header {
    margin-bottom: 21px;
    text-align: left;
}

.main_section__features__description-text {
    margin-bottom: 37px;
}

.main_section__features__ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-flow: row wrap;
}

.main_section__features__ul__li {
    width: 43%;
    height: 140px;
    padding: 0 0 30px 26px;
    display: flex;
    flex-direction: column;
}

.main_section__features__ul__li__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 13px
}

.main_section__features__ul__li__text {
    font-size: 14px;
    line-height: 1.4;
}
